<div class="container">
	 
 
<!-- <aside class="as" style=" color:rgb(86, 76, 65) ;background-color:white; float: right; height: 400px; width: 300px;border-radius: 30px;">
	
	<div class="p-1  rounded rounded-pill shadow-sm mb-4" style="background-color:rgb(255, 255, 255)" >
		
		
		
		<div class="input-group">
		<h2 class="font-weight-light mb-4 "><b> 04:53 PM</b> </h2>

		<h5 class="font-weight-light mb-4 "><b> Wednesday , 30th Ramadhan 2022  </b> </h5>
 	   </div> 



	</div> 
	</aside> -->
  
  
	<div class="row mb-5">
		
 
		<div class="input-group">
		   <h4 class="font-weight-light mb-4 "> 
		   <img src="assets/img/Logo.svg " width="50px" alt=""><b style="color:rgb(86, 76, 65)">Ramadan Dishes</b>  </h4>
	    </div> 
 
 		  <form action="">
			
  <div class="row">



	 <div class="col-lg-5 mx-auto" >
		 <div class="p-1  rounded rounded-pill shadow-sm mb-4" style="background-color:rgb(255, 244, 232)" >
			 <div class="input-group">
				<div class="input-group-append">
					<button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"><img src="assets/img/Search.svg " width="20px" alt=""></i></button>
			  </div>
				<input type="search" style="background-color:rgb(255, 244, 232)" placeholder="Search by ingredient" aria-describedby="button-addon1" class="form-control border-0  ">
				
			</div> 

		
	    </div> 
      </div> 

      <div class="col-lg-3 mx-auto">
	    <div class="p-1 rounded rounded-pill shadow-sm mb-4"  style="background-color:rgb(255, 244, 232)">
		 <div class="input-group">
		   <input  type="date"  style="background-color:rgb(255, 244, 232)"  aria-describedby="button-addon1" class="form-control border-0 ">
	     </div>  
   
       </div> 
      </div>

		<div class="col-lg-4 mx-auto">
				<div class="form-group col-md-2">
					<button type="submit" style="background-color:rgb(117, 112, 95);color: white;" class="btn btn rounded-pill btn-block shadow-sm">Search</button>
			   </div>
		 </div>

	 </div>
  	  
 	  </form>

	   <div class="input-group">
		<h6 class="font-weight-light mb-4 " style="color:rgb(86, 76, 65)"> ingredient suggestions   </h6>
	 </div> 
 

 <div class="row" id="a">

    <div class="col "  id="z">
    
         <img src="assets/img/Tomato.svg" class="d"> 
		 <img src="assets/img/Carrot.svg" class="d"> 
		 <img src="assets/img/Onion.svg" class="d"> 
		 <img src="assets/img/Rice.svg" class="d"> 
         <img src="assets/img/Parsley.svg" class="d"> 
 	     <img src="assets/img/Tuna.svg" class="d"> 
 
	</div>
		 
</div> 











 
   <section class="pt-5 pb-5">
	<div class="container">
 
		<div class="input-group">
			<h5 class="font-weight-light mb-4 " style="color:rgb(86, 76, 65)"> Today suggestions   </h5>
		   </div> 
	 
		<div class="col-6">
		  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel" style="color:rgb(86, 76, 65)">
  
			<div class="carousel-inner">
			  <div class="carousel-item active" >
				<div class="row" >
  
				  <div  class="col-md-4 mb-3">
					<div class="card" >
					  <img class="img-fluid" alt="100%x280" src="assets/img/spe.jpeg"  width="100%">
					  <div class="card-body">
						<h6 class="card-title">Spaghetti</h6>
						<p class="card-text">Spaghetti,Tomatoe Paste and Chiken </p>
  
					  </div>
  
					</div>
				  </div>
				  <div class="col-md-4 mb-3">
					<div class="card">
					  <img class="img-fluid" alt="100%x280" src="assets/img/spe.jpeg"  height="300%">
					  <div class="card-body">
						<h6 class="card-title">Soup</h6>
						<p class="card-text">Brid,tongue,Garlic,Onion and Tomatoe Paste </p>
  
					  </div>
					</div>
				  </div>
				  <div class="col-md-4 mb-3">
					<div class="card">
					  <img class="img-fluid" alt="100%x280" src="assets/img/spe.jpeg" width="100%">
					  <div class="card-body">
						<h6 class="card-title">French Fries</h6>
						<p class="card-text">Ptatoe and Salt</p>
  
					  </div>
					</div>
				  </div>
  
				</div>
			  </div>
			   
			 


			</div>
		  </div>
		</div>
 
	</div>
  </section>
  
 






















  </div>

 





	 
</div>
 
 











   